<footer class="static-bottom" style="background-color: #f6f6f1;">
    
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #b5baa6;">One Incident</h5>
          <p>
            We restores normal service operation while minimizing impact 
            to business operations and maintaining quality.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Useful Links</h5>
          <ul class="list-unstyled mb-0">
            
            <li class="mb-1">
              <a href="/home" style="color: #4f4f4f;">Home</a>
            </li>
            <li class="mb-1">
              <a href="/dashboard" style="color: #4f4f4f;">Dashboard</a>
            </li>
            <li class="mb-1">
              <a href="/incident-list" style="color: #4f4f4f;">Incident Record</a>
            </li>
            
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">Office Hours</h5>
          <table class="table" style="color: #4f4f4f; border-color: #666;">
            <tbody>
              <tr>
                <td>Mon - Fri:</td>
                <td>8am - 5pm</td>
              </tr>
              <tr>
                <td>Sat - Sun:</td>
                <td>8am - 1am</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy; Copyright OneIncident - COMP229 SEC004 Web Application Development - Group Project
    </div>

    <!-- Copyright -->
    </footer>
  