<app-base-page></app-base-page>
<main>
    <div class="content">
        <div class="centered">
          <h1>One Incident</h1>
          <br>
          <h3>Incidents can disrupt operations, 
            lead to temporary downtime, and contribute to the loss of data and productivity. 
            It is increasingly crucial for organizations to take incident management practices seriously, 
            as there are multiple benefits of it.</h3>
           
          <br>
       <button class="button" role="button"><a href="/dashboard">Let's Get Started!</a></button>

        </div>
    </div>
</main>